@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="@Url.Action("Index", "Addresses")" class="btn btn-primary">Go to Addresses</a>
<a href="@Url.Action("Index", "Brands")" class="btn btn-primary">Go to Brands</a>
<a href="@Url.Action("Index", "Categories")" class="btn btn-primary">Go to Categories</a>
<a href="@Url.Action("Index", "Discounts")" class="btn btn-primary">Go to Discounts</a>
<a href="@Url.Action("Index", "Notifications")" class="btn btn-primary">Go to Notifications</a>
<a href="@Url.Action("Index", "NotificationTypes")" class="btn btn-primary">Go to NotificationTypes</a>
<a href="@Url.Action("Index", "Products")" class="btn btn-primary">Go to Products</a>
<a href="@Url.Action("Index", "Feedbacks")" class="btn btn-primary">Go to Feedbacks</a>
<a href="@Url.Action("Index", "Orders")" class="btn btn-primary">Go to Orders</a>
<a href="@Url.Action("Index", "Representatives")" class="btn btn-primary">Go to Representatives</a>
